*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.link {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  // font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  font-family: 'Lato', sans-serif;
  // color: $main-text-color;
}

a {
  text-decoration: none;
}
